*{
    --background-accent:rgb(106, 43, 255);
    --background-main: rgb(71, 223, 152)
}

body{
    background-color:var(--background-main);
}

body,h1,h2,h3,h4,p,div,figure{
    margin:0;
    padding:0;
}

/* Overall layout */

/* Stylize header area */
header{
    display: flex;

    section.about.section{
        display:flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;

        figure{
            align-self:center;
            position: relative;
            height: 400px;
            width:100%;

            img{
                width:100%;
                height: 100%;
                object-fit:cover;
            }
    
            figcaption{
                position:absolute;
                top: 5px;
                left: 5px;
                text-align: left;
                font-size: 35px;
                color: black;
                max-width: 300px;
            }
        }

        h1{
            text-align: center;
        }

        p{
            text-align: justify;
        }

        nav{
            align-self:center;
            display:flex;
            flex-direction: row;
            gap: 20px;

            img{
                width:32px;
                height: auto;
            }
        }
    }

    div.background.rectangle{
        position:absolute;
        background: var(--background-accent);
        height: 500px;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 100%);
        filter: drop-shadow(0 4px 10px rgb(0, 0, 0));
    }


}